<h1> Create a guest account </h1>

<%= form_for(@guest) do |f| %>
  <%= f.text_field :first_name, placeholder: "First name" %><br>
  <%= f.text_field :last_name, placeholder: "Last name" %><br>
  <%= f.text_field :email, placeholder: "Email address" %><br>
  <%= f.text_field :phone_number, placeholder: "Phone number - XXX-XXX-XXXX" %><br>
  <%= f.text_field :password, placeholder: "Enter password" %><br>
  <%= f.submit "Create User" %>
<% end %>
