<h1> Create a hotel account </h1>

<p>
<%= form_for(@guest) do |f| %>
  First name: <%= f.text_field :first_name %><br>
  Last name: <%= f.text_field :last_name %><br>
  Email address: <%= f.text_field :email %><br>
  Phone number - <i>format: XXX-XXX-XXXX</i>: <%= f.text_field :phone_number %><br>
  Password: <%= f.text_field :password %><br>
  <%= f.label "Check box if you are a hotel manager (must have @flatironhotel.com email):"%>
  <%= f.check_box :admin %><br>
  <%= f.submit "Create hotel account" %>
<% end %>
</p>
