<%= form_tag user_bookings_path(@user) do %>
  <% if Room.available_rooms(@checkin, @checkout, @group_size).is_a? String %>
    <h2><%= Room.available_rooms(@checkin, @checkout, @group_size) %></h2>
  <% else %>
    <% Room.available_rooms(@checkin, @checkout, @group_size).each do |room| %>
      <% @room = room %>
      <%= render 'list_room' %>
    <% end %>
    <%= hidden_field_tag :'booking[user_id]', session[:user_id] %>
    <%= hidden_field_tag :'booking[group_size]', @group_size %>
    <%= hidden_field_tag :'booking[checkin]', @checkin %>
    <%= hidden_field_tag :'booking[checkout]', @checkout %>
    <%= submit_tag "Book this room" %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      ///prevent form from submitting the default way/
      event.preventDefault();
      alert("We grabbed the submit button!");
    });
  });
</script>
