<%= form_tag user_bookings_path(@user) do %>
  <% if Room.available_rooms(@checkin, @checkout, @group_size).is_a? String %>
    <h2><%= Room.available_rooms(@checkin, @checkout, @group_size) %></h2>
  <% else %>
    <% Room.available_rooms(@checkin, @checkout, @group_size).each do |room| %>
      <% @room = room %>
      <%= render 'list_room' %>
    <% end %>
    <%= hidden_field_tag :'booking[user_id]', session[:user_id] %>
    <%= hidden_field_tag :'booking[group_size]', @group_size %>
    <%= hidden_field_tag :'booking[checkin]', @checkin %>
    <%= hidden_field_tag :'booking[checkout]', @checkout %>
    <%= submit_tag "Book this room" %>
  <% end %>
<% end %>

<div id="bookingResult">
   <h2 id="bookingCheckin"></h2>
   <p id="bookingCheckout"></p>
 </div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();

      var url = window.location.href.split("/");
      var id = url[url.length - 2];

      var values = $(this).serialize();
      var booking = $.post(`/users/${id}/bookings`, values);

      booking.done(function(data) {
        console.log("here's the data: ", data);
        var booking = data;
        $("#bookingCheckin").text(booking["checkin"]);
        $("#bookingCheckout").text(booking["checkout"]);
      });
    });
  });
</script>
