<h3>Room <%= @room.room_number %> <%= check_box_tag :'booking[room_id]', @room.id %></h3>
<%= image_tag @room.image.thumb.url %>
<ul>
  <li>Sleeps <%= @room.capacity %> guests</li>
  <li>$<%= @room.cost %> per night</li>
</ul>
