<h1> Make a reservation </h1>

<p>
<%= form_for(@booking) do |f| %>
  Check-in date: <%= f.date_select :checkin, start_year: Date.today.year %><br>
  Check-out date: <%= f.date_select :checkout, start_year: Date.today.year %><br>
  Number of guests: <%= f.text_field :group_size %><br>
  <%= f.submit "See available rooms" %>
<% end %>
</p>
