<h1>Booking at the Flatiron Hotel</h1>
<p id="notice"><i><%= notice %></i></p>
Room <%= @room.room_number %><br>
Guest: <%= @user.name %><br>
Group size: <%= @booking.group_size %><br>
<%= @booking.checkin.strftime("Check in: %B %-d, %Y") %><br>
<%= @booking.checkout.strftime("Check out: %B %-d, %Y") %>
<br>
<br>
<%= link_to image_tag("room_#{@room.room_number}.jpg", alt: "Flatiron Hotel room #{@room.room_number}", class: "img-responsive") %>
