<% if @user.admin %>
  <h1>Welcome, manager <%= @user.name %></h1>

  <h2><%= link_to "All upcoming reservations", bookings_path %><h2>

  <h2>Sort upcoming reservations by date range</h2>
  <p id="notice"><i><%= notice %></i></p>
  <%= render 'admin_upcoming' %>

  <h2>See available rooms by date range and party size</h2>
  <p id="alert"><i><%= alert %></i></p>
  <%= render 'admin_available' %>

  <br>

  <%= link_to "Add a room", new_room_path %>

<% else %>
  <h1>Welcome to the Flatiron Hotel, <%= @user.name %></h1>

  <h2><%= link_to "Your upcoming reservations", user_bookings_path(@user) %></h2>

  <div id="bookings_div"></div>

  <h2>Reserve a room</h2>
  <p id="notice"><i><%= notice %></i></p>
  <%= render 'user_available' %>

<% end %>
