<% if @user.admin %>
  <h1>Welcome, manager <%= @user.first_name %> <%= @user.last_name %></h1>

  <h2>This week's bookings</h2>

  <%= link_to "See all rooms", rooms_path %>
  <br>
  <%= link_to "Add a room", new_room_path %>

<% else %>
  <h1>Welcome, <%= @user.first_name %> <%= @user.last_name %></h1>
<% end %>

<h2>Reserve a room</h2>

<%= form_tag available_path do %>
  <label>Check-in date: </label>
  <%= select_date Date.today, prefix: :'booking[checkin]' %><br>
  <label>Check-out date: </label>
  <%= select_date Date.today, prefix: :'booking[checkout]' %><br>
  <label>Number of guests: </label>
  <%= text_field_tag :'booking[group_size]' %><br>
  <%= submit_tag "See available rooms" %>
<% end %>

<br>
<br>
<%= link_to "Log out", signout_path %>
