<div class="center jumbotron">
  <h1>Welcome to the Flatiron Hotel</h1>

  <%= link_to image_tag("hotel.jpg", alt: "Flatiron Hotel") %>
  
  <h2><%= link_to('Log in with Facebook to reserve a room', '/auth/facebook') %> -- <%= link_to "or log into your Flatiron Hotel account", signin_path %></h2>

  <h3><%= link_to "Create a Flatiron Hotel account", new_user_path, class: "btn btn-lg btn-primary" %></h3>

  <h4><%= link_to "Hotel managers, log in to manage bookings", signin_path %></h2>
</div>
