<h1>Welcome to the Flatiron Hotel</h1>

<img src="<%= image_url('hotel.jpg') %>" alt="Flatiron Hotel" style="width:600px;height:300px;">

<h2><%= link_to('Log in with Facebook to reserve a room', '/auth/facebook') %> -- <%= link_to "or log into your Flatiron Hotel account", signin_path %></h2>

<h3><%= link_to "Create a Flatiron Hotel account", new_user_path %></h3>

<h4><%= link_to "Hotel managers, log in to manage bookings", signin_path %></h2>
