<h1> Create a new hotel room </h1>

<p>
<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  Room number: <%= f.text_field :room_number %><br>
  Nightly cost: $<%= f.text_field :cost %><br>
  Guest capacity: <%= f.text_field :capacity %><br>
  Image: <%= f.file_field :image %><br>
  <%= f.submit "Create hotel room" %>
<% end %>
</p>
