<header class="navbar navbar-fixed-top navbar-light" style="background-color: #49daff">
  <div class="container">
    <%= link_to "flatiron hotel", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All rooms", rooms_path %></li>
        <li><%= link_to "Log in", signin_path %></li>
        <li><%= link_to "Log in with Facebook", '/auth/facebook' %></li>
        <li><%= link_to "Log out", signout_path %></li>
      </ul>
    </nav>
  </div>
</header>
